# Output files
*.o
*.png
!sample.png
src/colors.bson
src/graphical/ui_mainwindow.h
src/graphical/icons.qrc
src/include/json.hpp
src/include/fmt/core.h
src/include/fmt/format.h
src/include/fmt/format-inl.h
src/include/fmt/color.h
src/include/fmt/format.cc
extracted_blocks/

# Tools byproducts
.gdb_history
.ycm_extra_conf.py
*/tags
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
build
package-debian/out

#IDE
.idea/
*.iml

# Executables
mcmap
run_tests
*json2bson
*extractChunk
*nbt2json
*regionReader
