# Output files
*.o
*.png
!sample.png
src/colors.bson
src/graphical/ui_mainwindow.h

# Tools byproducts
.gdb_history
.ycm_extra_conf.py
*/tags
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
build

# Executables
mcmap
run_tests
*json2bson
*extractChunk
*nbt2json
*regionReader
